.hint {
  font-size: 0.8rem;
  color: #888;
  margin-left: 10px;  
  margin-left: 10px;
  white-space: nowrap;
  
}

.input-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  width: 24.222rem; /* Adjusted to ensure consistency */
}

.input9 {
  top: 14.222rem;
  left: 40rem;
  width: 16.389rem;
  height: 4.444rem;
}

.input10 {
  top: 25.111rem;
  left: 40rem;
  width: 16.389rem;
  height: 4.444rem;
}

.input11 {
  top: 19.667rem;
  left: 40rem;
  width: 16.389rem;
  height: 4.444rem;
}

.input12 {
  top: 30.556rem;
  left: 40rem;
  width: 16.389rem;
  height: 4.444rem;
}

.input13 {
  top: 36rem;
  left: 40rem;
  width: 16.389rem;
  height: 4.444rem;
}

.label-container {
  display: flex;
  align-items: center;
}

input[type="text"], input[type="password"] {
  width: 24.222rem;
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: var(--button-shadow);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  color: var(--color-gray1);
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.b21 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  font-size: 3.2rem; /* 글씨 크기를 줄임 (원래 크기에서 약간 줄임) */
  margin-bottom: 1rem; /* 밑에 공간 추가 */
}

.headline2 {
  position: absolute;
  top: 9.444rem;
  left: 40rem;
  width: 34.667rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--title-size);
}

.div82 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 60rem;
  text-align: left;
  font-size: var(--presets-body2-size);
  color: var(--text-primary);
  font-family: var(--presets-body2);
}

.password-double-check {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

button {
  position: absolute;
  top: 42rem;
  left: 39.889rem;
  border-radius: var(--br-5xs);
  background-color: var(--text-primary);
  box-shadow: var(--button-shadow);
  width: 16.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--body-text-size);
  color: var(--color-white);
}
