.log-in {
  position: relative;
  line-height: 150%;
}
button {
  position: absolute;
  top: 34.444rem;
  left: 35rem;
  border-radius: var(--br-5xs);
  background-color: var(--text-primary);
  box-shadow: var(--button-shadow);
  width: 16.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--body-text-size);
  color: var(--color-white);
}
.id2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.input_field {
  width: 24.222rem;
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: var(--button-shadow);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  color: var(--color-gray1);
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.input14 {
  position: absolute;
  top: 21.444rem;
  left: 35rem;
  width: 16.389rem;
  height: 4.444rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.input15 {
  position: absolute;
  top: 27.667rem;
  left: 35rem;
  width: 16.389rem;
  height: 4.444rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.b22 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
}
.headline3 {
  position: absolute;
  top: 15.389rem;
  left: 35rem;
  width: 34.667rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--title-size);
}
.p4 {
  margin: 0;
}
.p5 {
  margin: 0;
  white-space: pre-wrap;
}
.div89 {
  position: absolute;
  top: 39.389rem;
  left: 35rem;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--color-gray1);
}
.label22 {
  position: relative;
  line-height: 0.889rem;
  font-weight: 600;
}
.frame {
  position: absolute;
  top: 40.833rem;
  left: 35rem;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-5xs);
  cursor: pointer;
  font-size: var(--font-size-lg);
}