<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/customer_center.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="div106">
      <div class="desktop-navigation-bar7">
        <div onclick="showPopup()">
          <img class="list-icon7" alt="" src="/picture/menu.png" id="listIcon" />
          <div class="menu7" id="menuText">Menu</div>
        </div>
        <div class="list7">
          <div class="div90" id="text" onclick="navigateTo('/login')">로그인</div>
          <div class="div90" id="text1" onclick="navigateTo('/join')">회원가입</div>
          <div class="div90" id="text2" onclick="navigateTo('/customer/center')">고객센터</div>
        </div>
      </div>

      <script>
        function navigateTo(url) {
          window.location.href = url;
        }
      </script>

      <div class="frame-parent">
        <div class="frame-div">
          <b class="b23">꽃다발 온라인 커스텀 서비스</b>
          <div class="div108">소중한 사람에게 선물할 꽃을 고르세요!</div>
          <div class="paragraph">
            꽃다발 온라인 커스텀 서비스는 사용자가 원하는 꽃과 수량을 선택하면
            선택항목에 맞춰서 꽃다발을 제작 및 배송하는 서비스입니다.
          </div>
        </div>

        <img class="icon18" alt="" src="/picture/bouquet.png" />
      </div>

      <div class="heading-parent">
        <div class="heading">
          <div class="div109">운영진</div>
          <div class="div110">
            <span class="txt">
              <p class="p6">운영진에 대한 정보입니다.</p>
              <p class="p6">
                서비스 이용 시에 문의 사항이 있다면 아래 연락처로 문의주시기
                바랍니다.
              </p>
            </span>
          </div>
        </div>

        <div class="customer-quote-parent">
          <div class="customer-quote">
            <div class="naxxxcom">염경민@naxxx.com</div>
            <div class="avatar16">
              <div class="avatar17"></div>
              <div class="parent5">
                <div class="popular">염경민</div>
                <div class="front-end">총책임자</div>
              </div>
            </div>
          </div>

          <div class="customer-quote1">
            <div class="naxxxcom">노선우@naxxx.com</div>
            <div class="avatar16">
              <div class="avatar17"></div>
              <div class="parent5">
                <div class="popular">노선우</div>
                <div class="front-end">Front-End 책임자</div>
              </div>
            </div>
          </div>

          <div class="customer-quote2">
            <div class="naxxxcom">윤진수@naxxx.com</div>
            <div class="avatar16">
              <div class="avatar17"></div>
              <div class="parent5">
                <div class="popular">윤진수</div>
                <div class="front-end">Back-End 책임자</div>
              </div>
            </div>
          </div>

          <div class="customer-quote3">
            <div class="naxxxcom">정재환@naxxx.com</div>
            <div class="avatar16">
              <div class="avatar17"></div>
              <div class="parent5">
                <div class="popular">정재환</div>
                <div class="front-end">Front-End 책임자</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="footer9">
        <div class="div88">3조 - 서울 중구 필동로 1길 30 신공학관 6119</div>
        <div class="social-icons9">
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/youtube.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/facebook.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/instagram.png"
          />
        </div>
        <div class="divider9"></div>
      </div>
    </div>
  </body>
</html>
