<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="div87">
      <div class="desktop-navigation-bar7">
        <img class="list-icon7" alt="" src="./picture/menu.png" id="listIcon" />
        <div class="menu7" id="menuText">Menu</div>
        <div class="list7">
          <div class="div90" id="text">로그인</div>
          <div class="div90" id="text1">회원가입</div>
          <div class="div90" id="text2">고객센터</div>
        </div>
      </div>


      <div class="headline3">
        <b class="b22">로그인</b>
      </div>
      <div class="input14">
        <div class="id2">ID</div>
        <form action="???" method="POST">
          <input type="text" id="userid" name="userid" placeholder="아이디를 입력하세요!" required>
        </form>
      </div>
      <div class="input15">
        <div class="id2">Password</div>
        <form action="???" method="POST">
          <input type="text" id="userpassword" name="userpassword" placeholder="비밀번호를 입력하세요!" required>
        </form>
      </div>
      <button type="submit" class="submit-button"><b>Submit</b></button>
      <div class="div89">
        <p class="p4">아직 회원가입하지 않으셨나요?</p>
        <p class="p5">-&gt; 하러 가기</p>
      </div>
      <div class="frame" id="frameContainer" onclick="goToNextPage()">
        <div class="label22">회원가입</div>
      </div>

      <script>
        function goToNextPage() {
          window.location.href = 'join';
        }
      </script>

      <div class="footer9">
        <div class="div88">3조 - 서울 중구 필동로 1길 30 신공학관 6119</div>
        <div class="social-icons9">
          <img
            class="buttons-icon36"
            alt=""
            src="./picture/youtube.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="./picture/facebook.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="./picture/instagram.png"
          />
        </div>
        <div class="divider9"></div>
      </div>

    </div>
  </body>
</html>
