<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="div87">
      <div class="desktop-navigation-bar7">
        <img class="list-icon7" alt="" src="/picture/menu.png" id="listIcon" />
        <div class="menu7" id="menuText">Menu</div>
        <div class="list7">
          <div class="div90" id="text" onclick="navigateTo('/login')">로그인</div>
          <div class="div90" id="text1" onclick="navigateTo('/join')">회원가입</div>
          <div class="div90" id="text2" onclick="navigateTo('/customer/center')">고객센터</div>
        </div>
      </div>

      <script>
        function navigateTo(url) {
          window.location.href = url;
        }
      </script>

      <div class="headline3">
        <b class="b22">로그인</b>
      </div>

      <form id="loginForm">
      <div class="input14">
        <div class="id2">ID</div>
          <input type="text" id="username" name="username" placeholder="아이디를 입력하세요!" required>
      </div>
      <div class="input15">
        <div class="id2">Password</div>
          <input type="password" id="userpassword" name="userpassword" placeholder="비밀번호를 입력하세요!" required>
      </div>
      <button type="submit" class="submit-button"><b>Submit</b></button>
      </form>
      <div class="div89">
        <p class="p4">아직 회원가입하지 않으셨나요?</p>
        <p class="p5">-&gt; 하러 가기</p>
      </div>
      <div class="frame" id="frameContainer" onclick="goToNextPage()">
        <div class="label22">회원가입</div>
      </div>
    <script>
      document.getElementById('loginForm').addEventListener('submit', async function(event) {// 폼 데이터 객체 생성
        event.preventDefault()

        const username = document.getElementById('username').value;
        const userpassword = document.getElementById('userpassword').value;

        const formData = {
          username: username,
          password: userpassword,
        };
        try {
          const response = await fetch('http://localhost:8080/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
          });

          if (response.ok) {
            alert('로그인에 성공했습니다!');
            // window.location.href = '/login'; // 성공 시 리다이렉트
          } else {
            alert('로그인에 실패했습니다. 다시 시도해주세요.');
          }
        } catch (error) {
          alert('서버와 통신 중 오류가 발생했습니다. 다시 시도해주세요.');
          return;
        }
      });
        function goToNextPage() {
          window.location.href = 'join';
        }
      </script>

      <div class="footer9">
        <div class="div88">3조 - 서울 중구 필동로 1길 30 신공학관 6119</div>
        <div class="social-icons9">
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/youtube.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/facebook.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/instagram.png"
          />
        </div>
        <div class="divider9"></div>
      </div>

    </div>
  </body>
</html>
