<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="div87">
        <script th:if="${alertMessage}" th:inline="javascript">
          /*<![CDATA[*/
          alert(/*[[${alertMessage}]]*/'default');
        </script>
        <div class="desktop-navigation-bar7">
          <div onclick="showPopup()">
            <img class="list-icon7" alt="" src="./picture/menu.png" id="listIcon" />
            <div class="menu7" id="menuText">Menu</div>
          </div>
          <div class="list7">
            <div class="div90" id="text" onclick="navigateTo('login')">로그인</div>
            <div class="div90" id="text1" onclick="navigateTo('join')">회원가입</div>
            <div class="div90" id="text2" onclick="navigateTo('customer_center')">고객센터</div>
          </div>
        </div>
  
        <script>
          function navigateTo(url) {
            window.location.href = url;
          }
        </script>

      <div class="copy">
        <b class="b">꽃다발 온라인 커스텀 서비스</b>
        <div class="div2">소중한 사람에게 선물할 꽃을 고르세요!</div>
        <div class="submit-button">
          <form id="searchForm">
            <input type="text" id="searchName" name="flowername" placeholder="꽃 이름을 검색하세요!" required>
          <button type="submit" class="submit-button"><b>검색</b></button>
          </form>
        </div>
      </div>

      <div class="div6"></div>
      <div class="copy-parent">
        <img class="icon" alt="" src="./picture/tulip.jpg" />

        <div class="copy1">
          <div class="div7"># 오늘의 추천</div>
          <input type="text" id="flower" name="flower" placeholder="#튤립" required>
          <input type="text" id="description" name="description" placeholder="꽃말 : 사랑의 고백, 매혹, 영원한 애정, 경솔" required>
        </div>
      </div>

      <div class="footer9">
        <div class="div88">3조 - 서울 중구 필동로 1길 30 신공학관 6119</div>
        <div class="social-icons9">
          <img
            class="buttons-icon36"
            alt=""
            src="./picture/youtube.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="./picture/facebook.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="./picture/instagram.png"
          />
        </div>
        <div class="divider9"></div>
      </div>
    </div>
    </div>

    <script>
      document.getElementById('searchForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // 기본 폼 제출 방지

        const searchName = document.getElementById('searchName').value;

        // 폼 데이터 객체 생성
        const formData = {
          searchName: searchName,
        };

        // Fetch API를 사용하여 POST 요청
        try {
          const response = await fetch('http://localhost:8080/search/'+searchName, {
            method: 'GET',
          });

          if (response.ok) {
            alert('회원가입에 성공했습니다!');
            window.location.href = '/login'; // 성공 시 리다이렉트
          } else {
            alert('회원가입에 실패했습니다. 다시 시도해주세요.');
          }
        } catch (error) {
          alert('서버와 통신 중 오류가 발생했습니다. 다시 시도해주세요.');
        }})
    </script>
  </body>
</html>
