<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/menubar.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <style>
      .menu-item {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="div93">
      <div class="title2">Menu</div>

      <div class="list8">
        <div class="menu-item">
          <div class="div94">이동</div>
        </div>

        <div class="menu-item1" onclick="navigateTo('./main.html')">
          <img class="home-icon" alt="" src="./public/home.svg" />
          <div class="div95">메인 페이지</div>
        </div>

        <div class="menu-item2" onclick="navigateTo('./search_result.html')">
          <img class="home-icon" alt="" src="./public/search.svg" />
          <div class="div95">검색 창</div>
        </div>

        <div class="menu-item2" onclick="navigateTo('./customer_center.html')">
          <img class="home-icon" alt="" src="./public/radio.svg" />
          <div class="div95">고객 센터</div>
        </div>
      </div>

      <div class="list9">
        <div class="title">
          <div class="div98">결제</div>
        </div>
        <div class="menu-item2" onclick="navigateTo('./shopping_basket.html')">
          <img class="icon17" alt="" src="./public/list.svg" />
          <div class="div95">장바구니</div>
        </div>

        <div class="menu-item2" onclick="navigateTo('./pay.html')">
          <img class="home-icon" alt="" src="./public/list.svg" />
          <div class="div95">결제</div>
        </div>

        <div class="menu-item2" onclick="navigateTo('./pay_result.html')">
          <img class="home-icon" alt="" src="./public/list.svg" />
          <div class="div95">결제 내역 확인</div>
        </div>
      </div>

      <div class="list10">
        <div class="title">
          <div class="div98">계정</div>
        </div>
        <div class="menu-item2" onclick="navigateTo('./account.html')">
          <img class="home-icon" alt="" src="./public/smile.svg" />
          <div class="div95">계정 정보 변경</div>
        </div>

        <div class="menu-item2" onclick="navigateTo('./membership_withdrawal.html')">
          <img class="home-icon" alt="" src="./public/smile.svg" />
          <div class="div95">계정 탈퇴</div>
        </div>
      </div>
    </div>

    <script>
      function navigateTo(url) {
        window.location.href = url;
      }
    </script>
  </body>
</html>
