<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/product_list.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="div31">
      <div class="desktop-navigation-bar7">
        <div onclick="showPopup()">
          <img class="list-icon7" alt="" src="/picture/menu.png" id="listIcon" />
          <div class="menu7" id="menuText">Menu</div>
        </div>
        <div class="list7">
          <div class="div90" id="text" onclick="navigateTo('/login')">로그인</div>
          <div class="div90" id="text1" onclick="navigateTo('/join')">회원가입</div>
          <div class="div90" id="text2" onclick="navigateTo('/customer/center')">고객센터</div>
        </div>
      </div>

      <script>
        function navigateTo(url) {
          window.location.href = url;
        }
      </script>

      <div class="copy-container">
        <img class="icon3" alt="" src="/picture/tulip.jpg" />

        <div class="copy6">
          <div class="product-name1">오늘의 추천 꽃</div>
          <div class="subheading1">튤립</div>
          <div class="price1">4,500원 (한화 기준, 한 송이 기준)</div>
          <div class="description1">
            꽃말 : 사랑의 고백, 매혹, 영원한 애정, 경솔
          </div>
          <div class="button10">
            <b class="b11">장바구니에 담기</b>
          </div>
        </div>

      </div>
      <div class="group">
        <b class="b12">인기 꽃</b>

        <div class="container">
          <img class="icon4" alt="" src="/picture/rose.jpg" />
          <div class="copy7">
            <div class="div33">장미</div>
            <div class="div34">꽃말 : 사랑, 로맨스, 아름다움, 완벽함</div>
            <div class="div33">2,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="group-div">
          <img class="icon5" alt="" src="/picture/gypsophila.jpg" />
          <div class="copy7">
            <div class="div33">안개꽃</div>
            <div class="div34">꽃말 : 죽음, 사랑의 결실, 순수한 마음</div>
            <div class="div33">5,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="copy-parent1">
          <img class="icon6" alt="" src="/picture/hydrangea.jpeg" />
          <div class="copy9">
            <div class="div33">수국</div>
            <div class="div34">꽃말 : 변덕과 변심에 가려진 ‘진실된 마음’</div>
            <div class="div33">12,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="copy-parent2">
          <img class="icon7" alt="" src="/picture/larkspur.jpg" />
          <div class="copy9">
            <div class="div33">델피늄</div>
            <div class="div34">꽃말 : 품위, 은혜, ‘당신을 행복하게 해줄게요’</div>
            <div class="div33">3,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>
        
        <div class="copy-parent3">
          <img class="icon7" alt="" src="/picture/sunflower.jpg" />
          <div class="copy7">
            <div class="div33">해바라기</div>
            <div class="div34">꽃말 : 영원한 사랑</div>
            <div class="div33">3,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="copy-parent4">
          <img class="icon9" alt="" src="/picture/chrysanthemum.jpg" />
          <div class="copy7">
            <div class="div33">국화</div>
            <div class="div34">꽃말 : 성실, 진실, 감사</div>
            <div class="div33">2,100원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>
      </div>


      <div class="parent2">
        <b class="b12">인기 꽃</b>

        <div class="container">
          <img class="icon4" alt="" src="/picture/rose.jpg" />
          <div class="copy7">
            <div class="div33">장미</div>
            <div class="div34">꽃말 : 사랑, 로맨스, 아름다움, 완벽함</div>
            <div class="div33">2,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="group-div">
          <img class="icon5" alt="" src="/picture/gypsophila.jpg" />
          <div class="copy7">
            <div class="div33">안개꽃</div>
            <div class="div34">꽃말 : 죽음, 사랑의 결실, 순수한 마음</div>
            <div class="div33">5,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="copy-parent1">
          <img class="icon6" alt="" src="/picture/hydrangea.jpeg" />
          <div class="copy9">
            <div class="div33">수국</div>
            <div class="div34">꽃말 : 변덕과 변심에 가려진 ‘진실된 마음’</div>
            <div class="div33">12,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="copy-parent2">
          <img class="icon7" alt="" src="/picture/larkspur.jpg" />
          <div class="copy9">
            <div class="div33">델피늄</div>
            <div class="div34">꽃말 : 품위, 은혜, ‘당신을 행복하게 해줄게요’</div>
            <div class="div33">3,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>
        
        <div class="copy-parent3">
          <img class="icon7" alt="" src="/picture/sunflower.jpg" />
          <div class="copy7">
            <div class="div33">해바라기</div>
            <div class="div34">꽃말 : 영원한 사랑</div>
            <div class="div33">3,000원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>

        <div class="copy-parent4">
          <img class="icon9" alt="" src="/picture/chrysanthemum.jpg" />
          <div class="copy7">
            <div class="div33">국화</div>
            <div class="div34">꽃말 : 성실, 진실, 감사</div>
            <div class="div33">2,100원 (한화 기준, 한 송이 기준)</div>
          </div>
        </div>
      </div>
      <div class="child"></div>

      <div class="footer9">
        <div class="div88">3조 - 서울 중구 필동로 1길 30 신공학관 6119</div>
        <div class="social-icons9">
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/youtube.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/facebook.png"
          />
          <img
            class="buttons-icon36"
            alt=""
            src="/picture/instagram.png"
          />
        </div>
        <div class="divider9"></div>
      </div>
    </div>
  </body>
</html>
